div {
    width: 100%;
    position: fixed;
    margin: 0;
}

.placement-top {
    top: 0;
    left: 0;
}

.placement-bottom {
    bottom: 0;
    left: 0;
}

.content-centered {

}

.content-left-justified {

}

.thickness-xs{
    height: 35px;
}

.thickness-sm{
    height: 50px;
}

.thickness-md {
    height: 70px;
}

.thickness-lg {
    height: 90px;
}

.thickness-xl {
    height: 105px;
}